In [19]:
# import necessary libraries
import pandas as pd
import requests
import os
import dotenv
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.orm import sessionmaker, declarative_base

In [20]:
# Data Ingestion
dotenv.load_dotenv()

API_KEY = os.getenv('API_KEY')

print(API_KEY)

2YG3QMLUCB4WMGTX

In [21]:
BASE_URL = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey={API_KEY}'

stock_market = []
response = requests.get(BASE_URL)
if response.status_code == 200:
    data = response.json()
    stock_market.append(data)
else:
    print('Unable to fetch data')

In [22]:
stock_market

[{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
   '2. Symbol': 'IBM',
   '3. Last Refreshed': '2025-01-31',
   '4. Output Size': 'Compact',
   '5. Time Zone': 'US/Eastern'},
  'Time Series (Daily)': {'2025-01-31': {'1. open': '256.0500',
    '2. high': '257.2350',
    '3. low': '251.8900',
    '4. close': '255.7000',
    '5. volume': '7203519'},
   '2025-01-30': {'1. open': '250.0000',
    '2. high': '261.8000',
    '3. low': '247.0100',
    '4. close': '258.2700',
    '5. volume': '15381890'},
   '2025-01-29': {'1. open': '225.6200',
    '2. high': '229.4700',
    '3. low': '223.7300',
    '4. close': '228.6300',
    '5. volume': '7079804'},
   '2025-01-28': {'1. open': '224.3200',
    '2. high': '225.7700',
    '3. low': '221.7700',
    '4. close': '225.6600',
    '5. volume': '4485429'},
   '2025-01-27': {'1. open': '222.1900',
    '2. high': '224.3000',
    '3. low': '219.8400',
    '4. close': '224.1300',
    '5. volume': '4898355'},
   '2025-01-24': {'1. open': '225.2700',
    '2. high': '226.8104',
    '3. low': '223.8000',
    '4. close': '224.8000',
    '5. volume': '3233293'},
   '2025-01-23': {'1. open': '223.9400',
    '2. high': '226.0400',
    '3. low': '223.1500',
    '4. close': '226.0400',
    '5. volume': '3619651'},
   '2025-01-22': {'1. open': '221.9800',
    '2. high': '224.4000',
    '3. low': '220.3500',
    '4. close': '223.2600',
    '5. volume': '4759490'},
   '2025-01-21': {'1. open': '224.9900',
    '2. high': '227.4500',
    '3. low': '222.8302',
    '4. close': '224.2600',
    '5. volume': '3982203'},
   '2025-01-17': {'1. open': '225.9550',
    '2. high': '225.9550',
    '3. low': '223.6400',
    '4. close': '224.7900',
    '5. volume': '5506837'},
   '2025-01-16': {'1. open': '219.6900',
    '2. high': '222.6800',
    '3. low': '217.3800',
    '4. close': '222.6600',
    '5. volume': '3329060'},
   '2025-01-15': {'1. open': '220.8700',
    '2. high': '221.6761',
    '3. low': '218.0100',
    '4. close': '220.0300',
    '5. volume': '2951825'},
   '2025-01-14': {'1. open': '218.0000',
    '2. high': '218.1250',
    '3. low': '214.6100',
    '4. close': '217.7500',
    '5. volume': '3485829'},
   '2025-01-13': {'1. open': '217.8900',
    '2. high': '219.5900',
    '3. low': '214.7500',
    '4. close': '217.4000',
    '5. volume': '3716816'},
   '2025-01-10': {'1. open': '222.0000',
    '2. high': '222.4300',
    '3. low': '216.8000',
    '4. close': '219.7500',
    '5. volume': '3570497'},
   '2025-01-08': {'1. open': '223.9100',
    '2. high': '224.9000',
    '3. low': '220.8300',
    '4. close': '223.1800',
    '5. volume': '2619768'},
   '2025-01-07': {'1. open': '223.3500',
    '2. high': '226.7110',
    '3. low': '222.8300',
    '4. close': '223.9600',
    '5. volume': '3299701'},
   '2025-01-06': {'1. open': '223.0000',
    '2. high': '224.3500',
    '3. low': '220.7500',
    '4. close': '222.6700',
    '5. volume': '2847128'},
   '2025-01-03': {'1. open': '220.5500',
    '2. high': '223.6600',
    '3. low': '220.5500',
    '4. close': '222.6500',
    '5. volume': '3873578'},
   '2025-01-02': {'1. open': '221.8200',
    '2. high': '222.4900',
    '3. low': '217.6000',
    '4. close': '219.9400',
    '5. volume': '2579498'},
   '2024-12-31': {'1. open': '220.7200',
    '2. high': '221.0493',
    '3. low': '218.4400',
    '4. close': '219.8300',
    '5. volume': '2270512'},
   '2024-12-30': {'1. open': '220.5400',
    '2. high': '221.5942',
    '3. low': '217.6523',
    '4. close': '220.2500',
    '5. volume': '2095565'},
   '2024-12-27': {'1. open': '223.1400',
    '2. high': '224.4200',
    '3. low': '221.4054',
    '4. close': '222.7800',
    '5. volume': '1810760'},
   '2024-12-26': {'1. open': '223.3100',
    '2. high': '225.4000',
    '3. low': '222.5500',
    '4. close': '224.8900',
    '5. volume': '3287238'},
   '2024-12-24': {'1. open': '222.2700',
    '2. high': '224.4446',
    '3. low': '221.5428',
    '4. close': '224.4100',
    '5. volume': '1186216'},
   '2024-12-23': {'1. open': '222.8100',
    '2. high': '223.7400',
    '3. low': '221.0800',
    '4. close': '221.9300',
    '5. volume': '2988137'},
   '2024-12-20': {'1. open': '222.7300',
    '2. high': '227.6847',
    '3. low': '221.6800',
    '4. close': '223.3600',
    '5. volume': '12423200'},
   '2024-12-19': {'1. open': '224.4200',
    '2. high': '226.2000',
    '3. low': '222.9800',
    '4. close': '223.9200',
    '5. volume': '4430120'},
   '2024-12-18': {'1. open': '229.0350',
    '2. high': '229.0350',
    '3. low': '220.0300',
    '4. close': '220.1700',
    '5. volume': '4152517'},
   '2024-12-17': {'1. open': '229.2300',
    '2. high': '230.2000',
    '3. low': '227.6200',
    '4. close': '228.9700',
    '5. volume': '3651346'},
   '2024-12-16': {'1. open': '230.7300',
    '2. high': '231.0300',
    '3. low': '226.8800',
    '4. close': '229.3300',
    '5. volume': '3610257'},
   '2024-12-13': {'1. open': '232.2500',
    '2. high': '233.7750',
    '3. low': '230.2600',
    '4. close': '230.8200',
    '5. volume': '2757683'},
   '2024-12-12': {'1. open': '230.6600',
    '2. high': '233.8900',
    '3. low': '230.3800',
    '4. close': '232.2600',
    '5. volume': '4515741'},
   '2024-12-11': {'1. open': '232.6900',
    '2. high': '233.0000',
    '3. low': '229.1300',
    '4. close': '230.1200',
    '5. volume': '3872680'},
   '2024-12-10': {'1. open': '228.4000',
    '2. high': '234.3900',
    '3. low': '227.8000',
    '4. close': '231.7200',
    '5. volume': '4769531'},
   '2024-12-09': {'1. open': '238.0000',
    '2. high': '239.3500',
    '3. low': '228.9100',
    '4. close': '230.0000',
    '5. volume': '4970449'},
   '2024-12-06': {'1. open': '234.4300',
    '2. high': '238.3800',
    '3. low': '234.2200',
    '4. close': '238.0400',
    '5. volume': '4028430'},
   '2024-12-05': {'1. open': '233.5500',
    '2. high': '236.5200',
    '3. low': '233.4600',
    '4. close': '234.7500',
    '5. volume': '4791116'},
   '2024-12-04': {'1. open': '230.0000',
    '2. high': '233.7400',
    '3. low': '229.3500',
    '4. close': '233.4900',
    '5. volume': '4104195'},
   '2024-12-03': {'1. open': '227.2400',
    '2. high': '229.1100',
    '3. low': '226.6700',
    '4. close': '229.0000',
    '5. volume': '3163815'},
   '2024-12-02': {'1. open': '227.5000',
    '2. high': '228.3800',
    '3. low': '225.5100',
    '4. close': '227.3900',
    '5. volume': '2656181'},
   '2024-11-29': {'1. open': '227.7500',
    '2. high': '230.3600',
    '3. low': '227.1900',
    '4. close': '227.4100',
    '5. volume': '2640253'},
   '2024-11-27': {'1. open': '228.8300',
    '2. high': '229.1900',
    '3. low': '224.2700',
    '4. close': '226.9200',
    '5. volume': '2995121'},
   '2024-11-26': {'1. open': '226.7300',
    '2. high': '228.9800',
    '3. low': '225.5115',
    '4. close': '228.8300',
    '5. volume': '4449543'},
   '2024-11-25': {'1. open': '223.3500',
    '2. high': '226.4200',
    '3. low': '222.6500',
    '4. close': '226.1300',
    '5. volume': '7189260'},
   '2024-11-22': {'1. open': '223.3500',
    '2. high': '227.2000',
    '3. low': '220.8900',
    '4. close': '222.9700',
    '5. volume': '5320740'},
   '2024-11-21': {'1. open': '215.8100',
    '2. high': '222.6300',
    '3. low': '215.2701',
    '4. close': '222.4000',
    '5. volume': '5236434'},
   '2024-11-20': {'1. open': '211.0000',
    '2. high': '214.9600',
    '3. low': '209.7725',
    '4. close': '214.6000',
    '5. volume': '4562901'},
   '2024-11-19': {'1. open': '206.5000',
    '2. high': '210.3300',
    '3. low': '206.1900',
    '4. close': '210.2500',
    '5. volume': '2860746'},
   '2024-11-18': {'1. open': '207.0000',
    '2. high': '208.4150',
    '3. low': '205.3701',
    '4. close': '208.0900',
    '5. volume': '3406045'},
   '2024-11-15': {'1. open': '207.4600',
    '2. high': '208.4900',
    '3. low': '204.0700',
    '4. close': '204.9900',
    '5. volume': '3986460'},
   '2024-11-14': {'1. open': '210.0000',
    '2. high': '210.4999',
    '3. low': '206.3500',
    '4. close': '208.9900',
    '5. volume': '6372853'},
   '2024-11-13': {'1. open': '209.5000',
    '2. high': '211.4100',
    '3. low': '209.0701',
    '4. close': '210.9200',
    '5. volume': '3247830'},
   '2024-11-12': {'1. open': '211.9000',
    '2. high': '213.0300',
    '3. low': '209.0600',
    '4. close': '210.8600',
    '5. volume': '2818216'},
   '2024-11-11': {'1. open': '214.4000',
    '2. high': '215.4100',
    '3. low': '213.4800',
    '4. close': '213.5700',
    '5. volume': '3012987'},
   '2024-11-08': {'1. open': '214.1600',
    '2. high': '216.7000',
    '3. low': '212.7809',
    '4. close': '213.7200',
    '5. volume': '3201038'},
   '2024-11-07': {'1. open': '213.6400',
    '2. high': '214.5199',
    '3. low': '211.9300',
    '4. close': '213.6900',
    '5. volume': '3675812'},
   '2024-11-06': {'1. open': '213.4800',
    '2. high': '214.3300',
    '3. low': '210.3700',
    '4. close': '213.6000',
    '5. volume': '3934386'},
   '2024-11-05': {'1. open': '206.1700',
    '2. high': '208.1150',
    '3. low': '205.5700',
    '4. close': '207.5700',
    '5. volume': '2441535'},
   '2024-11-04': {'1. open': '207.6500',
    '2. high': '207.7000',
    '3. low': '205.8000',
    '4. close': '206.3200',
    '5. volume': '2594119'},
   '2024-11-01': {'1. open': '207.7700',
    '2. high': '209.8400',
    '3. low': '207.4100',
    '4. close': '208.2500',
    '5. volume': '3334308'},
   '2024-10-31': {'1. open': '204.1300',
    '2. high': '208.1300',
    '3. low': '203.5100',
    '4. close': '206.7200',
    '5. volume': '5925250'},
   '2024-10-30': {'1. open': '209.4800',
    '2. high': '211.1200',
    '3. low': '204.2600',
    '4. close': '204.9000',
    '5. volume': '6956624'},
   '2024-10-29': {'1. open': '211.9900',
    '2. high': '213.3400',
    '3. low': '209.8500',
    '4. close': '210.4300',
    '5. volume': '5258366'},
   '2024-10-28': {'1. open': '215.5000',
    '2. high': '216.2500',
    '3. low': '212.7000',
    '4. close': '212.9100',
    '5. volume': '4993343'},
   '2024-10-25': {'1. open': '216.8000',
    '2. high': '218.6500',
    '3. low': '214.3850',
    '4. close': '214.6700',
    '5. volume': '8482235'},
   '2024-10-24': {'1. open': '220.8000',
    '2. high': '221.3200',
    '3. low': '216.1600',
    '4. close': '218.3900',
    '5. volume': '11193440'},
   '2024-10-23': {'1. open': '230.4100',
    '2. high': '233.3400',
    '3. low': '230.2600',
    '4. close': '232.7500',
    '5. volume': '5791002'},
   '2024-10-22': {'1. open': '231.9900',
    '2. high': '232.9700',
    '3. low': '230.6700',
    '4. close': '232.2500',
    '5. volume': '3180807'},
   '2024-10-21': {'1. open': '231.2100',
    '2. high': '232.4200',
    '3. low': '230.2600',
    '4. close': '231.7500',
    '5. volume': '2733336'},
   '2024-10-18': {'1. open': '231.9200',
    '2. high': '232.6499',
    '3. low': '230.1700',
    '4. close': '232.2000',
    '5. volume': '4715688'},
   '2024-10-17': {'1. open': '232.0000',
    '2. high': '233.1450',
    '3. low': '230.6550',
    '4. close': '232.8800',
    '5. volume': '5040092'},
   '2024-10-16': {'1. open': '232.1100',
    '2. high': '233.8800',
    '3. low': '231.1200',
    '4. close': '233.6700',
    '5. volume': '2846669'},
   '2024-10-15': {'1. open': '236.4000',
    '2. high': '237.3700',
    '3. low': '232.7100',
    '4. close': '232.9600',
    '5. volume': '3350556'},
   '2024-10-14': {'1. open': '233.5700',
    '2. high': '236.1200',
    '3. low': '233.1700',
    '4. close': '235.2600',
    '5. volume': '2524389'},
   '2024-10-11': {'1. open': '233.2500',
    '2. high': '233.4400',
    '3. low': '230.4600',
    '4. close': '233.2600',
    '5. volume': '3469322'},
   '2024-10-10': {'1. open': '235.1000',
    '2. high': '235.8300',
    '3. low': '231.8100',
    '4. close': '233.0200',
    '5. volume': '3142031'},
   '2024-10-09': {'1. open': '229.2000',
    '2. high': '234.9500',
    '3. low': '228.5000',
    '4. close': '234.3000',
    '5. volume': '5083566'},
   '2024-10-08': {'1. open': '228.1100',
    '2. high': '229.3450',
    '3. low': '227.0401',
    '4. close': '228.6200',
    '5. volume': '3245342'},
   '2024-10-07': {'1. open': '225.3800',
    '2. high': '227.6700',
    '3. low': '225.0200',
    '4. close': '227.1200',
    '5. volume': '3457952'},
   '2024-10-04': {'1. open': '223.7500',
    '2. high': '226.0800',
    '3. low': '223.2700',
    '4. close': '226.0000',
    '5. volume': '3554328'},
   '2024-10-03': {'1. open': '219.5000',
    '2. high': '222.8300',
    '3. low': '219.2700',
    '4. close': '222.7200',
    '5. volume': '3788265'},
   '2024-10-02': {'1. open': '218.3100',
    '2. high': '220.2000',
    '3. low': '215.7980',
    '4. close': '219.7300',
    '5. volume': '3343399'},
   '2024-10-01': {'1. open': '220.6300',
    '2. high': '221.1000',
    '3. low': '215.9000',
    '4. close': '219.3500',
    '5. volume': '3548374'},
   '2024-09-30': {'1. open': '220.6500',
    '2. high': '221.3200',
    '3. low': '219.0200',
    '4. close': '221.0800',
    '5. volume': '3544264'},
   '2024-09-27': {'1. open': '223.0000',
    '2. high': '224.1500',
    '3. low': '220.7700',
    '4. close': '220.8400',
    '5. volume': '3830335'},
   '2024-09-26': {'1. open': '222.1100',
    '2. high': '224.0000',
    '3. low': '221.3550',
    '4. close': '223.4300',
    '5. volume': '2673210'},
   '2024-09-25': {'1. open': '221.1700',
    '2. high': '221.8500',
    '3. low': '220.1600',
    '4. close': '221.2300',
    '5. volume': '2537751'},
   '2024-09-24': {'1. open': '219.7800',
    '2. high': '221.1900',
    '3. low': '218.1600',
    '4. close': '220.9700',
    '5. volume': '3184114'},
   '2024-09-23': {'1. open': '218.0000',
    '2. high': '220.6200',
    '3. low': '217.2700',
    '4. close': '220.5000',
    '5. volume': '4074755'},
   '2024-09-20': {'1. open': '214.3300',
    '2. high': '217.8500',
    '3. low': '213.7400',
    '4. close': '217.7000',
    '5. volume': '9958980'},
   '2024-09-19': {'1. open': '218.0100',
    '2. high': '218.4800',
    '3. low': '210.3700',
    '4. close': '213.8900',
    '5. volume': '5279559'},
   '2024-09-18': {'1. open': '214.1300',
    '2. high': '216.8600',
    '3. low': '213.5900',
    '4. close': '214.9400',
    '5. volume': '3482764'},
   '2024-09-17': {'1. open': '217.2500',
    '2. high': '218.8400',
    '3. low': '213.0000',
    '4. close': '214.1300',
    '5. volume': '5635210'},
   '2024-09-16': {'1. open': '215.8800',
    '2. high': '217.9000',
    '3. low': '215.5200',
    '4. close': '217.1600',
    '5. volume': '4176257'},
   '2024-09-13': {'1. open': '212.4800',
    '2. high': '216.0900',
    '3. low': '212.1300',
    '4. close': '214.7900',
    '5. volume': '4572344'},
   '2024-09-12': {'1. open': '210.0000',
    '2. high': '212.6500',
    '3. low': '208.2650',
    '4. close': '211.6100',
    '5. volume': '4616446'},
   '2024-09-11': {'1. open': '207.7600',
    '2. high': '210.1200',
    '3. low': '203.0400',
    '4. close': '209.8900',
    '5. volume': '5554309'},
   '2024-09-10': {'1. open': '204.2000',
    '2. high': '205.8300',
    '3. low': '202.8700',
    '4. close': '205.3200',
    '5. volume': '3070644'},
   '2024-09-09': {'1. open': '201.9400',
    '2. high': '205.0500',
    '3. low': '201.4300',
    '4. close': '203.5300',
    '5. volume': '3705004'}}}]

In [31]:
# Transformation layer
stock_market = data["Time Series (Daily)"]

df = pd.DataFrame.from_dict(stock_market, orient='index')

# Rename columns for clarity
df.rename(columns={
    "1. open": "Open",
    "2. high": "High",
    "3. low": "Low",
    "4. close": "Close",
    "5. volume": "Volume"
}, inplace=True)

# Reset index to have the date as a column
df.reset_index(inplace=True)
df.rename(columns={"index": "Date"}, inplace=True)

         Date      Open      High       Low     Close    Volume
0  2025-01-31  256.0500  257.2350  251.8900  255.7000   7203519
1  2025-01-30  250.0000  261.8000  247.0100  258.2700  15381890
2  2025-01-29  225.6200  229.4700  223.7300  228.6300   7079804
3  2025-01-28  224.3200  225.7700  221.7700  225.6600   4485429
4  2025-01-27  222.1900  224.3000  219.8400  224.1300   4898355

In [15]:
#Convert datatype
df['Date'] = pd.to_datetime(df["Date"])
df['Open'] = pd.to_numeric(df["Open"])
df['High'] = pd.to_numeric(df["High"])
df['Low'] = pd.to_numeric(df["Low"])
df['Close'] = pd.to_numeric(df["Close"])
df['Volume'] = pd.to_numeric(df["Volume"])

NameError: name 'df' is not defined

In [13]:
df.show()

NameError: name 'df' is not defined

In [43]:
#Loading Layer
Base = declarative_base()

class Stock_Price(Base):
    __tablename__ = 'new_stock'

    id = Column(Integer, primary_key=True)
    Date = Column(DateTime)
    Open = Column(Float)
    High = Column(Float)
    Low = Column(Float)
    Close = Column(Float)
    Volume = Column(Integer)

In [47]:
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PORT = os.getenv("DB_PORT")
DB_PASS = os.getenv("DB_PASS")
DB_HOST = os.getenv("DB_HOST")

In [48]:
dotenv.load_dotenv()
engine = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}')

In [49]:
Session = sessionmaker(bind=engine)
session = Session()
Base.metadata.create_all(engine)

In [50]:
data_to_insert = df.to_dict(orient='records')
session.bulk_insert_mappings(Stock_Price, data_to_insert)
session.commit()
session.close()